@import "modules/header";
// @import "modules/sidebar";




.sidebar {


    background: #F3F4F7;

    overflow-y: hidden;
    height: calc(100vh - 55px);

    transition: width 1s;

    float:left;

    .i-toggle {
        padding: 10px;
        width:100%;
        cursor: pointer;
        i {
            margin-right:10px;
        }
        
    }

    ol {
        padding-top:15px;
        padding-bottom:15px;
    
        padding-left:40px;
        padding-right:40px;
        li {
            padding: 5px;
            
            a {
                text-decoration: none;
                color:black;
                padding: 10px;
                cursor: pointer;
                cursor: pointer;

                &:hover {
                    color:red;
                }

                &.active {
                    color:red;
                }
            }
            
        }   
    }

}


.header{
    
    font-size: 15px;
    padding:15px 10px;
    width:100%;
    float:left;

    text-align: center;

    border-bottom: solid #E2E2E2 1.5px;

    .sidebar-toggle {
        cursor: pointer!important;
    }        

 
    
}

.main-content {
    // background: #F8F9FA;
    float:left;
    height: calc(100vh - 55px);
    
    // width: calc(100% - 250px);
    // margin-left:200px;
}

.page-tree {
    background: white;
    padding: 10px;
    float:left;
    width:100%;
    border-bottom: solid #E2E2E2 1.5px;
    label, a, i {
        float:left;
        margin: 0 5px;
    }
    .active {
        color:red;
    }
}


.page {
    padding-left:40px;
    padding-right:40px;
    // background: #F8F9FA;
    // background: green;
    padding-top: 20px; 
    padding-bottom: 20px;
    height: calc(100vh - 94px);
    float:left;
    overflow-y:auto;


    .author {
        padding: 10px 0;
    }

    .btn-wrap {
        width: 100%;
        text-align: right;
        padding-top:10px;
        padding-bottom:10px;
    }


}